# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# Testing & Coverage
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# Storage / SQLite
*.db
*.sqlite
*.sqlite3

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Binaries / Render CLI
cli_*

# Vercel
.vercel
cli_v2.22.0
.vercel
